/* Custom CSS */

body{
    background-color: black;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.container-fluid{
    padding: 0px 90px 0px 90px
}

.row{
    padding:15px;
    margin-bottom:30px;
    max-width:100%;
    max-height:auto;
}

.col{
    width:100%;
    margin: 15px;
    padding:20px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #056905;
    font-family:bokor;
}

nav a {
    font-size: 42px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 140px;
}

li a:hover {
  background-color: #BCDBBC;
}

li a:hover:not(.active) {
    background-color: #BCDBBC;
    text-decoration: none;
    color: #111;
}

li a.active {
    background-color: #04AA6D;
}

.navtext{
    padding-top: 0px;
}

h1{
    font-family:bokor;
    color:white;
}

h2{
   font-family: baskerville; 
}

p{
    font-family:baskerville;
    color:white;
}

.boxhead{
    color:#056905;
    margin-bottom:-5px;
}

.boxsubhead{
    color:#056905;
}

#about{
    margin-top:30px;
}

.box{
    color:#707070;
}

.leftfloat{
   float:left; 
}

.rightfloat{
    float:right;
}

footer{
    background-color: #056905;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.address{
    margin-left: 90px;
    margin-top: 10px;
}

.copyright{
    float:none;
    text-align: center;
}