/* NAVBAR */

nav{
    background-color:#056905;
    font-family:bokor;
}

nav a, .navbar-brand{
    font-size:25px;
    text-align: center;
}

.logo{
    width:50px;
    margin: 20px;
}

/* BODY */

body{
    background-color: black;
}

.container-fluid{
    padding: 0px 90px;
}

.row{
    padding:15px;
    max-width:100%;
    max-height:auto;
}

.col,{
    flex-direction:row;
    margin: 15px;
    padding:20px;
    width: 100%;
}

h1{
    font-family:bokor;
    color:white;
    font-size: 48px;
}

h2{
   font-family: baskerville; 
}

p{
    font-family:baskerville;
    color:white;
    font-size:16pt;
}

small{
    font-family:baskerville;
    color:#707070;
}
.on-green{
    color:#BCDBBC;
}

/* HOME */

/* Carousel */

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.carousel-item {
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.carousel-caption{
    text-align: right;
}

/* Welcome */

.section-title{
    margin-top:30px;
}

.triple-box{
    flex-direction:row;
    margin: 15px;
    padding:20px;
    padding-bottom:70px;
    width: 100%;
}

.box-title{
    color:#056905;
    margin-bottom:-5px;
}

.box-body{
    color:#707070;
}

.centered{
    margin: 15px;
    padding:20px;
    text-align: center;
}

button{
    background-color:#056905;
    font-family:bokor;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 15px;
}

.box-button{
    font-size:16pt;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.page-button{
    font-size:32pt;
    text-align:center;
    margin-bottom:30px;
}

button a{
    color:white;
}

button a:hover{
    color:#BCDBBC;
    text-decoration:none;
}

.img-resp{
    width:100%;
    height:auto;
}

/* Order with Us */

.col-lg-8, .col-lg-4{
    padding:20px;
}

.box-button-sequel{
    font-size:32pt;
    float:right;
    background-color:#BCDBBC;
}

.box-button-sequel a{
    color:#056905;
}

.box-button-sequel a:hover{
    color:#707070;
}

/* ABOUT */

#our-story{
    margin-top:30px;
}

/* MENU */

.drink-title{
    font-size:26pt;
    color:#056905;
    margin-bottom:-5px;
}

.menu-box{
    margin: 15px;
    padding:20px;
}

.menu-button{
    float: right;
    font-size:32pt;
}

/* ORDER */

.schedule{
    font-size:26pt;
    color:#BCDBBC;
    text-align: center;
    font-weight: bold;
}

/* Form */

.container{
    background-color: #BCDBBC;
    border-radius: 5px;
    padding: 20px;
    padding-left:10px;
}

fieldset li{
    list-style-type: none;
    font-family:baskerville;
    color:#707070;
    font-size:16pt;
}

input[type=text], textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  resize: vertical
}

input[type=submit] {
    background-color:#056905;
    color:white;
    font-family:bokor;
    text-decoration: none;
    border-radius: 10px;
    padding: 14px 16px;
    margin-top:55px;
    float:right;
}

/* FOOTER */

footer{
    background-color: #056905;
    color:white;
    overflow: hidden;
    padding: 15px 0px;
    margin-top:30px;
}

footer ul {
    list-style-type: none;
    display: flex;
    font-family:baskerville;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:white;
}

.socials{
    list-style-type: none;
    display: flex;
}

footer li{
    padding-right:5px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    padding: 0px 90px;
}