/* Custom CSS */

body{
    background-color: black;
}

/* Carousel */

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.carousel-item {
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
}

.herotitle{
    font-size: 3vw;
}

.herobody{
    font-size: 1.5vw;
}

.herobutton{
    width:100%;
    font-size:2.5vw;
    background-color:#BCDBBC;
    color:#056905;
    font-family:bokor;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 15px;
}

/* Not Carousel */

.container-fluid{
    padding: 0px 90px 0px 90px
}

.row{
    padding:15px;
    margin-bottom:30px;
    max-width:100%;
    max-height:auto;
}

.col{
    width:100%;
    margin: 15px;
    padding:20px;
}

.col-order{
    margin: 15px;
    padding:20px;
    max-width:63%
}

.imgresp{
    width: 100%;
    height: auto;
}

.test{
    clear:left;
}

/* NAV */
.menu{
    width: 100%;
    height: 90px;
    margin: auto;
    list-style-type: none;
    background-color: #056905;
    font-family:bokor;
    text-decoration: none;
}

nav a {
    font-size: 42px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav li {
    float: left;
    width: 25%;
    height: 100%;
}

nav li a {
    color: white;
}

nav li a:hover {
  background-color: #BCDBBC;
}

nav li a:hover:not(.active) {
    background-color: #BCDBBC;
    text-decoration: none;
    color: #111;
}

nav li a.active {
    background-color: #04AA6D;
}

nav{
    margin-bottom:30px;
}

/* FONTS */

h1{
    font-family:bokor;
    color:white;
    font-size: 48px;
}

h2{
   font-family: baskerville; 
}

p{
    font-family:baskerville;
    color:white;
    font-size:16pt;
}

/* LAYOUT */

.boxhead{
    color:#056905;
    margin-bottom:-5px;
}

.drinktitle{
    font-size:26px;
    color:#056905;
    margin-bottom:-5px;
}

.boxsubhead{
    color:#056905;
}

.about{
    margin:30px;
}

#reviews{
    justify-content: center;
    margin-bottom: 50px;
}

.box{
    color:#707070;
}

.leftfloat{
   float:left; 
}

.rightfloat{
    float:right;
}

.pagetitle{
    margin-top:30px;
}

.schedule{
    color:#BCDBBC;
    text-align: center;
}

/* FORM */
.responsive-form {
    max-width: 600px;
    width: 100%;
    background-color: #BCDBBC;
    border-radius: 4px;
    padding: 20px;
}

fieldset{
    background-color: #BCDBBC;
}

fieldset li{
    list-style-type: none;
    font-family:baskerville;
    color:#707070;
    font-size:16pt;
}

label[for=form-name] {
    margin-top:40px
}

input{
    width:90%;
    margin:0px 0;
}

input[type=submit] {
    width:30%;
    font-size:30px;
    background-color:#056905;
    color:white;
    font-family:bokor;
    padding: 8px 16px;
    margin: 50px 30px;
    text-decoration: none;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
}

/* FOOTER */

footer{
    background-color: #056905;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.copyright{
    font-family:baskerville;
    color:white;
    float:none;
    text-align: center;
    font-size: 12px;
}

/* SOCIALS */

footer ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 90px;
    margin-top: 10px;
}

footer a{
    text-decoration: none;
    color:white;
}

footer a:hover{
    color:white;
}

.address{
    font-family:baskerville;
    color:white;
    margin-left: 90px;
    float:left;
}

.socials{
    float:right;
    margin-right:20px;
}